*{
    margin: 0px;
    border: 0px;
    margin: auto;
}

.highlight{
    background-color: yellow;
}

header{
    height: 6em;
    background-image: url('../img/pattern.png');
    background-color: aqua;
    background-size: 22em;
}

.container,.main{
    height: 100%;
    width: 65%;

}

#logo{
    height: 50%;
    padding-top: 3em;
}

.main{
    padding-top: 1em;
    padding-bottom: 2em;
}
.credits{
    color: darkgray;
}

.cyan{
    color: rgb(54, 221, 221);
}



.info{
    font-size: 10px;
    padding-bottom: 2em;
}

ul{
    padding: 2em 0em;
}

table{
    border-spacing: 0px;

}

thead{
    height: 1em;
    background-color: rgb(68, 174, 245);
    color: white;
}

.unpair{
    background-color: rgb(100, 255, 255);
}

.small{
    width: 25%;
}