*{
    margin: 0px;
    border: 0px;
}

.highlight{
    background-color: yellow;
}

header{
    height: 6em;
    background-image: url('../img/pattern.png');
    background-color: rgb(0, 92, 167);
    background-size: 22em;
}

.container,.main{
    height: 100%;
    width: 65%;
    margin: auto;

}

#logo{
    height: 50%;
    padding-top: 3em;
}

.main{
    padding-top: 1em;
    padding-bottom: 2em;
}
.credits{
    color: darkgray;
    padding-bottom: 1em;
}

.cyan{
    color: rgb(54, 221, 221);
}



.info{
    font-size: 10px;
    padding-bottom: 2em;
}

ul{
    padding: 2em 0em;
}

table{
    border-spacing: 0px;
    padding-bottom: 2em;
}

thead{
    height: 1em;
    background-color: rgb(68, 174, 245);
    color: white;
}

.unpair{
    background-color: rgb(100, 255, 255);
}

.small{
    width: 25%;
}

.lello{
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    width: 300px;
    height: 200px;
    position: static;
    margin-bottom: 1em;

}

.nello{
    background-image: url('../img/graph.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    width: 300px;
    height: 200px;
   position: static;


}